@import "tailwindcss";

@theme {
  --color-primary: #F4CA44;
  --color-primary-foreground: #000000;
  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}